@import "tailwindcss";

@layer utilities {

  .form{
    @apply flex flex-col p-5
  }

  .delete-button{
    @apply border-gray-400 rounded-3xl p-1 bg-red-500 text-white font-bold text-center border-1 cursor-pointer;
  }

  .pages{
    @apply flex flex-col justify-center items-center gap-2;
  }

  .navigation{
    @apply flex justify-center items-center gap-2;
  }
  .pages-prev, .pages-next {
    @apply cursor-pointer select-none;
  }
}